<!-- $Id $ -->
<div id="ActesAPI_Title" class="bold shadowlight alignmiddle">
    <div id="ActesAPI_Help">
        <{$smarty.const._AM_ACTESAPI_MANAGER_HELP}>
    </div>
    <div id="ActesAPI_Action">
    </div>
</div>
<div id="myid">
	<{$smarty.const._AM_ACTESAPI_HELP1}>
	<div class="width45 floatleft pad5">
	<{$smarty.const._AM_ACTESAPI_HELP2}>
	<{$smarty.const._AM_ACTESAPI_HELP3}>
	</div>
	<div class="width45 floatright pad5">
	<{$smarty.const._AM_ACTESAPI_HELP4}>
	<{$smarty.const._AM_ACTESAPI_HELP5}>
	<{$smarty.const._AM_ACTESAPI_HELP6}>
	<{$smarty.const._AM_ACTESAPI_HELP7}>
	</div>
</div>
<div class="clear"></div>