<!-- $Id $ -->
<div id="actesapi-div">

<h2>Liste des actes</h2>

<table id="actesapi-table">
<thead>
    <tr>
        <th style="display: none" data-dynatable-column="col">Collectivités</th>
        <th data-dynatable-column="id">N° de l'acte</th>
        <th data-dynatable-column="objet">Objet</th>
        <th data-dynatable-column="decision">Date de la décision</th>
        <th data-dynatable-column="nature">Nature</th>
        <th data-dynatable-column="statut">Statut</th>
    </tr>
</thead>
<tbody>
<{section name=acte loop=$actes}>
    <tr>
        <td><{$actes[acte].coll}></td>
        <td><a href="<{$xoops_url}>/modules/actesapi/detailActe.php?id=<{$actes[acte].acteid}>"><{$actes[acte].NumeroInterne}></a></td>
        <td><a href="<{$xoops_url}>/modules/actesapi/detailActe.php?id=<{$actes[acte].acteid}>" title="<{$actes[acte].Objet}>"><{$actes[acte].Objet|truncate:90:"":true}></a></td>
        <td><{$actes[acte].dateacte}></td>
        <td><a href="<{$xoops_url}>/modules/actesapi/detailActe.php?id=<{$actes[acte].acteid}>"><{$actes[acte].CodeNatureActeNom}></a></td>
        <td><a href="<{$xoops_url}>/modules/actesapi/detailActe.php?id=<{$actes[acte].acteid}>">
            <{if     $actes[acte].annulationacteid}><{$actes[acte].annulationDateReception}> : Annulation
            <{elseif $actes[acte].anomalieacteid  }><{$actes[acte].anomalieDateReception}> : Anomalie
            <{elseif $actes[acte].aracteid        }><{$actes[acte].aracteDateReception}> : AR Préfecture
            <{else                                }><{$actes[acte].dateacte}> : envoi à la Préfecture
            <{/if}></a>
        </td>
    </tr>
<{/section}>
</tbody>
</table>

</div>

<link rel="stylesheet" type="text/css" media="all" href="js/dynatable/jquery.dynatable.css" />
<script>window.jQuery || document.write('<script type="text/javascript" src="js/dynatable/vendor/jquery-1.7.2.min.js">\x3C/script>')</script>
<script type="text/javascript" src="js/dynatable/jquery.dynatable.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#actesapi-table').dynatable();
});
</script>
