<!-- $Id $ -->
<div id="myid">

<h2>Liste des actes</h2>

<table>
	<tr>
		<th>N° de l'acte</th>
		<th>Objet</th>
		<th>Date de la décision</th>
		<th>Nature</th>
		<th>Statut</th>
	</tr>

<{section name=acte loop=$actes}>
	<tr>
		<td><a href="detailActe.php?id=<{$actes[acte].acteid}>"><{$actes[acte].NumeroInterne}></a></td>
		<td><a href="detailActe.php?id=<{$actes[acte].acteid}>" title="<{$actes[acte].Objet}>"><{$actes[acte].Objet|truncate:90:"":true}></a></td>
		<td><{$actes[acte].dateacte}></td>
		<td><a href="detailActe.php?id=<{$actes[acte].acteid}>"><{$actes[acte].CodeNatureActeNom}></a></td>
		<td><a href="detailActe.php?id=<{$actes[acte].acteid}>">
			<{if     $actes[acte].annulationacteid}><{$actes[acte].annulationDateReception}> : Annulation
			<{elseif $actes[acte].anomalieacteid  }><{$actes[acte].anomalieDateReception}> : Anomalie
			<{elseif $actes[acte].aracteid        }><{$actes[acte].aracteDateReception}> : AR Préfecture
			<{else                                }><{$actes[acte].dateacte}> : envoi à la Préfecture
			<{/if}></a>
		</td>
    </tr>
<{/section}>
</table>
</div>
